* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans','Condensed','Arial',sans-serif;
  line-height: 150%;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

  /* SITE-HEADER */

  .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  color: black;
}

.header-logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}

.header-logo:hover {
  color: #DE2E54;
}

.header-logo:active {
  opacity: 0.6;
}

.headerlogo-img {
  margin-right: 16px;
}

.header-logo:hover {
  color: #DE2E54;
}

.site-header-nav {
  /* padding-right: 114px; */
  /* padding-left: 114px; */
}

.site-header-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-header-item {
  margin-right: 32px;
}

.site-header-item:last-child {
  margin-right: 0;
}

.site-header-links {

  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
}

.site-header-links:hover {
  color: rgba(222, 46, 84, 1);
}

.site-header-links:active {
  opacity: 0.6;
}

/* .button-links {
  background-color: rgba(222, 46, 84, 1);
  width: 189px;
  height: 47px;
} */
.main-link {
  background-color: rgba(222, 46, 84, 1);
  font-family: 'Open Sans Condensed',sans-serif;
  display:inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  padding: 10px 22px;
  border: 2px solid #DE2E54;
  border-radius:8px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 150%;
  color: white;
}

.site-header-button:hover {
  color: rgba(222, 46, 84, 1);
  background-color: white;
}
.site-header-button:active {
  background: #DE2E54;
  opacity: 0.6;
  color: white;
  border: 2px solid #DE2E54;
  border-radius: 8px;
}


/* HERO PART */

.hero {
  background-color:  #0EB4C1;
  color: white;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  padding-top: 120px;
  padding-bottom: 120px;

  /* margin-right: 177px; */
}

.hero-heading {
  font-family: "Open Sans Condensed", "Open Sans", Arial, san-serif;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 1.2;
  width: 500px;
}

.hero-info {
  width: 440px;
  /* height: 108px; */
  /* font-weight: 400;
  font-size: 18px; */
  /* line-height: 150%; */
  margin-top: 0;
  margin-bottom: 36px;
}

.hero-link:hover {
  opacity: 0.8;
}

.hero-link:active {
  opacity: 0.6;
}

.hero-img {
  align-self: flex-end;
  /* display: block; */
  /* margin-top: 28px; */
  /* margin-left: 177px; */
}

/* SERVICES PART */

.service {

}
.service-heading {
  font-family: "Open Sans Condensed", "Open Sans", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  max-width: 133px;
  margin-top: 120px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
}

.service-content {
  width: 100%x;
  max-width: 864px;
  margin-left: auto;
  margin-right: auto;
}

.service-list {
  padding: 0;
}

.service-parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 80px;
}

.service-parts:last-child {
  margin-bottom: 0;
}

.wrapper-service-img-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-text-info-wrapper {
  margin-left: 64px;
  width: 600px;
}

.service-text {
  font-family: "Open Sans Condensed", "Open Sans","Condensed" Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.service-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.link-service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 226px;
  max-height: 46px;
  color: white;
  margin-top: 60px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

/* SIGN - UP PART */

.sign-up {
  background-color: #0EB4C1;
  color: white;
}

.sign-up-content {
  width:100%;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto;
}

.sign-up-heading {
  width: 365px;
  padding-top: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
}

.sign-up-list {
  display: flex;
  justify-content:center;
  align-items: center;
  list-style: none;
  margin-top: 0;
  padding-bottom: 64px;
  margin: 0;
  margin-right: 50px;
}

.sign-up-list-li {
  margin-right: 40px;
}

.sign-up-list-li:last-child {
  margin-right: 0;
}

.sign-up-links {
  font-family: 'Open Sans Condensed',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  padding: 12px 24px ;
  border-radius: 8px;
}

.sign-up-links:hover {
  background: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;
}

.sign-up-links:active {
  opacity: 0.6;
}

/* SITE - FOOTER  */

.site-footer {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  color: white;
  background-color: black;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  color:white;
  font-size: 24px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-logo-img {
  margin-right: 16px;
}

.footer-logo:hover {
  color: #DE2E54;
}

.footer-logo:active {
  opacity: 0.6;
}

.site-footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  list-style: none;
}

.site-footer-list li {
  margin-right: 32px;
}

.site-footer-list li:last-child {
  margin-right: 0;
}

.site-footer-links {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.site-footer-links:hover {
  color: #DE2E54;
}


.site-footer-links:active {
  opacity: 0.6;
}